.homeElement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
  &:nth-of-type(2) {
    flex-direction: row;
  }
  img {
    max-width: 460px;
    max-height: 460px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 50%;
    &_title {
      font-size: 3.5rem;
      max-width: 70%;
      line-height: 1;
    }
    &_subtitle {
      font-size: 0.8rem;
      font-weight: 600;
    }
    &_text {
      max-width: 50%;
    }
  }
}
.homeElement:nth-of-type(2) .homeElement__block {
    margin-left: 0;
}
