.footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding-inline: 7%;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    h3 {
        font-size: 2rem;
    }
}