.buttonGreen {
    background-color: var(--green);
    font-family: 'Poppins';
    font-weight: 600;
    border: 1px solid var(--green);
    padding: 0.7rem 1.4rem;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    color: var(--black);
    text-wrap: nowrap;
    width: min-content;
    cursor: pointer;
    &:hover {
        background-color: var(--white);
    }
}
.buttonWhite {
    background-color: var(--white);
    font-family: 'Poppins';
    font-weight: 600;
    border: 1px solid var(--white);
    padding: 0.7rem 1.4rem;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    color: var(--black);
    text-wrap: nowrap;
    width: min-content;
    cursor: pointer;
    &:hover {
        background-color: var(--black);
        border: 1px solid var(--black);
        color: var(--white);
    }
}