.header {
  &::after {
    content: "";
    display: block;
    background-color: var(--gray);
    width: 100%;
    height: 2px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 7%;
  padding-block: 1rem;
  &__block {
    display: flex;
    align-items: center;
    gap: 2rem;
    &_header {
      font-size: 2rem;
      font-weight: 600;
    }
    &_flex {
      display: flex;
      gap: 2rem;
      align-items: center;
      a {
        font-weight: 600;
        transition: all 0.1s ease-in-out;
        &:hover {
          scale: 1.1;
          transition: all 0.1s ease-in-out;
        }
      }
    }
    &_titledLink {
      font-weight: 600;
      padding: 0.5rem 1.4rem;
      transition: all 0.2s ease-in-out;
      border-radius: 12px;
    }
    &_titledLink:first-of-type:hover {
      background-color: var(--gray);
      transition: all 0.2s ease-in-out;
    }
    &_titledLink:last-of-type {
      background-color: var(--green);
      color: var(--black);
      border: 1px solid var(--green);
      &:hover {
        background-color: var(--white);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding-inline: 5%;
    padding-block: 1rem;
    &__block {
      gap: 15px;
      &_header {
        font-size: 1.5rem;
      }
      &_flex {
        gap: 15px;
        a {
          font-size: 0.9rem;
        }
      }
      &_titledLink {
        font-size: 0.9rem;
      }
    }
  }
}
